{% extends 'base.html.twig' %}


{% block body %}
    <div class="container my-5 ">
        <h1>Espace Membre</h1>
        <a href="{{ path('app_logout')}}">Me deconnecter</a>
    
    
    
    </div>
{% endblock %}
