{% extends "base.html.twig" %}

{% block body %}
    <div class="container my-5 ">
        <h1>Espace Membre</h1>
        <h3 class="py-3">Modification de mon mot de passe</h3>
        
        {{ form(modifyPwd)}}
    
    
    
    </div>
{% endblock %}
