{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1 class="mb-4 text-primary">Récapitulatif de ma commande</h1>
        <div class="row">
			<div class="col-md-6">
                
                {% for product in cart %}
                    <div class="card mb-3 shadow-sm">
                     <h6 class=" text-primary my-2 p-3">Contenu de mon panier</h6>
                        <div class="row g-0">
                            <div class="col-md-2 d-flex align-items-center">
                                <img src="/uploads/{{ product.object.illustration }}" class="img-fluid rounded" alt="{{ product.object.name }}" style="max-width: 100px;">
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center">
      